<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

  <appSettings>

    <!-- Server connection options -->
    <add key="ServerAddress" value="DEVSERVER"/>
    <add key="ServerUsername" value="DEVWEV\devuser"/>
    <add key="ServerPassword" value="password"/>
    <!-- Logging Folders. Don't delete these, but you can change their value to a valid folder name -->
    <add key="LogFolder" value="PSLogs"/>
  </appSettings>
</configuration>
